
@{
    ViewBag.Title = "Index";
}

<style>
    .headertext{
        font-size: 24px;
        font-weight: bold;
        padding: 10px 0px;
    }
    input[type="text"]{
        width: 100%;
    }
    table {
        border-spacing: 0 10px;
    }
    input[type="submit"]{
        padding: 4px 8px;
    }
</style>
<div class="headertext">
    THÔNG TIN SINH VIÊN
</div>
<form name="sv" action="/SinhVien_64130758/Index2" method="post">
    <table class="svinput">
        <tr>
            <td>Mã sinh viên: </td>
            <td><input type="text" name="Id" /></td>
        </tr>    
        <tr>
            <td>Họ và tên: </td>
            <td><input type="text" name="Name" /></td>
        </tr>
        <tr>
            <td>Điểm: </td>
            <td><input type="text" name="Marks" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Đăng ký" /></td>
        </tr>
    </table>
</form>

