
@{
    ViewBag.Title = "Index";
}

<h4> THÔNG TIN SINH VIÊN </h4>
<form name="sv" action="/SinhVien_64130758/UseAction" method="post">
    <table>
        <tr>
            <td>Ma sinh vien: </td>
            <td><input type="text" name="Id" /></td>
        </tr>
        <tr>
            <td>Ho va ten: </td>
            <td><input type="text" name="Name"</td>
        </tr>
        <tr>
            <td>Diem: </td>
            <td><input type="text" name="Marks"</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Dang ky"</td>
        </tr>
    </table>
</form>

