@model KT0720DuongThiAnhHong_64130758.Models.SinhVien

@{
    ViewBag.Title = "GioiThieu_64130758";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2> THÔNG TIN SINH VIÊN</h2>

<table>
    <tr>
        <td>
            Mã sinh viên
        </td>
        <td>
            [Mã sinh viên dự kiểm tra...]
        </td>
    </tr>
    <tr>
        <td>
            Họ tên
        </td>
        <td>
            [Họ tên sinh viên kiểm tra...]
        </td>
    </tr>
    <tr>
        <td>
            Lớp
        </td>
        <td>
            ...
        </td>
    </tr>
    <tr>
        <td>
            Ngày kiểm tra
        </td>
        <td>
            ...
        </td>
    </tr>
</table>

