
@{
    ViewBag.Title = "GioiThieu_64130758";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h4>THÔNG TIN SINH VIÊN DỰ THI</h4>
    <tr>
        <td>
            <div class="detail">
                <table cellpadding="2" cellspacing="10">
                    <tr>
                        <td rowspan="8"><img src="/images/sinhvienntu.jpg" width="100" height="100" object-fit: cover;/></td>
                        <td>Mã nhân viên:</td>
                        <td>64130758</td>
                    </tr>
                    <tr>
                        <td>Họ và tên:</td>
                        <td>Dương Thị Ánh Hồng</td>
                    </tr>
                    <tr>
                        <td>Ngày thi:</td>
                        <td>
                            28/10/2024
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
    <p style="margin-left:10px;">

        @Html.ActionLink("Quay lại", "Index")
    </p>

