
@{
    ViewBag.Title = "ChangeBanner";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("ChangeBanner", "BaiTap5_64130758",
FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <style>
        .headertext {
            font-size: 24px;
            font-weight: bold;
            padding: 10px 0px;
        }
    </style>
    <div class="headertext">
        THAY ĐỔI BANNER
    </div>
    <hr />

    <p>
        Chọn ảnh làm banner: &nbsp;<input type="file"
                                          style="height:30px;" name="banner" accept="image/*" required />
        <input type="submit" style="height:30px;" value="Thay đổi" /><br>
    </p>
}
