
@{
    ViewBag.Title = "Create";
    Layout = null;
}

<h2>Thông tin nhân viên</h2>
<label for="name">Mã nhân viên:</label>
<input id="name" name="name" type="text" value="" /></br>
<label for="name">Họ nhân viên:</label>
<input id="name" name="name" type="text" value="" /></br>
<label for="name">Tên nhân viên:</label>
<input id="name" name="name" type="text" value="" /></br>
<label for="name">Giới tính:</label>
<input id="name" name="name" type="text" value="" /></br>
<label for="name">Ngày sinh:</label>
<input id="name" name="name" type="text" value="" /></br>
<label for="name">Tiền lương:</label>
<input id="name" name="name" type="text" value="" /></br>
<label for="name">Ánh đại diện:</label>
<input id="name" name="name" type="text" value="" /></br>
<label for="name">Địa chỉ:</label>
<input id="name" name="name" type="text" value="" /></br>
<label for="name">Phòng ban:</label>
<input id="name" name="name" type="text" value="" /></br>










